[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/sign-admin/.Xauthority
Type=simple
ExecStart=/bin/bash /etc/kiosk-start.sh
Restart=on-abort
User=sign-admin
Group=sign-admin

[Install]
WantedBy=graphical.target