[Unit]
Description=react-signage npm site
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/home/sign-admin/react-signage
ExecStart=/usr/bin/node app.js

# limit CPU and RAM quota for our service
CPUAccounting=true
CPUQuota=10%
MemoryAccounting=true
MemoryLimit=50M

[Install]
WantedBy=multi-user.target